/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* Generics */

body {
    font-family: 'Fredoka', sans-serif;

}

 a {
    text-decoration: none;
    color: #4cbcf1;
    font-size: 12px;
 }

h1 {
    text-align: center;
    color: #e53170;
    margin: 3rem 0;
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

.intro {
    margin: 3rem 0;
    text-align: center;
}

.column {
    display: flex;
    background-color: black;
    color: white;
    height: 100px;
    width: calc(100% / 3 - 40px);
    margin:  20px;
}

.testo {
    align-self: center;
    margin: 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}