/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
