/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    
    
}

/* Utils */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

/* Generics */

body {
    font-family: 'Fredoka', sans-serif;

}

 a {
    text-decoration: none;
    color: #4cbcf1;
    font-size: 12px;
 }

h1 {
    text-align: center;
    color: #e53170;
    margin: 3rem 0;
    font-size: 30px;
}

h2 {
    font-size: 15px;
}

.intro {
    margin: 3rem 0;
    text-align: center;
}

.column {
    width: calc(100% / 3 - 30px);
    height: 80px;
    background-color: #0f0e17;
    margin: 15px;
    color: white;
    float: left;
    box-shadow: 1px 1px 6px 0px #888888;
}

.column > img {
    float: left;
    max-height: 100%;
    margin-right: 10px;
    
}
 .ruolo {
    color: #e5e7ea;
    font-size: 12px;
 }

 .testo {
    line-height: 26px;
    margin-left: 10px;
}
 }
